{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Demonstration</span>
      <h1 class="govuk-heading-xl">Insights Reporting Interface</h1>
      <p class="govuk-body-l">Demonstration of a new potential interface through which Insights reporting content can be served.</p>
      <p class="govuk-body">The interface utilises a series of technical tools to enable the curation (MarkDown), organisation (Flask, Python) and hosting (Google Cloud Run) of Insights reporting content in a browser-accessible interface.</p>
      <p class="govuk-body">The demo utilises the GOV.UK design system to utilise the familiar look, feel, and accessibility features of GOV.UK.</p>

      <h1 class="govuk-heading-l">Feedback sentiment over time</h1>
      {% include 'sentiment_over_time_2022-10-11.html' %}
      <p class="govuk-body">Feedback analysis is performed to create a depiction of user feedback sentiment over time.</p>
      <p class="govuk-body">Multiple sentiment analysis models are used to create separate sentiment predictions for each sentence in feedback records for a given period.</p>
      <p class="govuk-body">Estimated sentiment is then averaged across all models used to create an 'overall' sentiment prediction.</p>

      <h1 class="govuk-heading-l">Feedback (bigram) topics over time</h1>
      {% include 'GSDMM_topics_over_time_2022-10-11.html' %}
      <p class="govuk-body">Feedback records are analysed using a 'Movie Group Process' which estimates probability of topic similarity between feedback sentences based on frequently used terms.</p>
      <p class="govuk-body">A number of 'passes' of this analysis are performed to identify the most coherent 'groups' (topics) and to identify which feedback sentences belong to each group.</p>
      <p class="govuk-body">These groups can be reprented by 'bigram' terms frequently observed in each topic.</p>
      <p class="govuk-body">Each bigram has an estimated 'probability' of association to a given topic; outputs bigrams are arranged in descending order of probability.</p>

      <h1 class="govuk-heading-l">Feedback topics over time</h1>
      {% include 'BERT_topics_over_time_2022-10-11.html' %}
      <p class="govuk-body">The 'BERT' topic model is used to identify common terms within whole feedback records.</p>
      <p class="govuk-body">This process works in a similar way to the GSDMM bigram analysis, though topics are referenced according to single associated words.</p>
      <p class="govuk-body">These groups can be reprented by terms frequently observed in each topic.</p>
      
      <h2 class="govuk-heading-l">Contents</h2>
      <ul class="govuk-list govuk-list--bullet">
        {% for page in pages %}
        <li>
          <a class="govuk-link" href="{{page.name}}">{{page.name}}</a>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>  
{% endblock %}
