{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Insights</span>
      <h1 class="govuk-heading-xl">Monthly insights report</h1>
      <p class="govuk-body-l">The montly insights report from the GOV.UK insights team.</p>
      <p class="govuk-body">more info on the full report.</p>
      {{ govukInsetText({'html': 'If you also more info on the report please  <a href="https://govuk-frontend-wtforms.herokuapp.com/" class="govuk-link">send us an email </a> or <a href="https://join.slack.com/share/enQtNDE5OTU0MTExNTE4Ni00MGQwMzBmNDEyMjNkNGQxNjU3YjMxZjk3MDAwNGFiNzkxMjA5MzA0NmIzODNhNzI0YTcwODU3NDZhNWU2YTI2 class="govuk-link">slack message </a> .'} )}}


</div>
          <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-body">
        {{toc|safe}}
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      {{summary|safe}}
  </div>

    <h2 class="govuk-heading-l">Contents</h2>
      <ul class="govuk-list govuk-list--bullet">
        {% for page in pages %}
        <li>
          <a class="govuk-link" href="{{page.name}}">{{page.name}}</a>
        </li>
        {% endfor %}
      </ul>


    </div>
  </div>  
{% endblock %}
